.timeline {
  position: relative;
  margin-left: 40px; /* space for dots */
  padding: 20px 0;
  border-left: 2px solid #ccc; /* vertical line */
}

.timeline-item {
  display: flex;
  align-items: flex-start; /* align top */
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: #1976d2; /* blue */
  border-radius: 50%;
  position: absolute;
  left: -9px; /* half of dot width minus line width */
  top: 4px; /* align with text */
}

.timeline-content {
  margin-left: 30px; /* space between dot and content */
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #D4AF37;
}

.timeline-content h5 {
  margin: 2px 0;
  color: #666;
  font-weight: normal;
  font-size: 0.9rem;
}

.timeline-content ul li  {
  margin: 4px 0 0 0;
  font-size: 0.9rem;
  color: #F5F5F5;
}

.timeline-content ul.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 40px; /* row gap & column gap */
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.timeline-content ul.skills-list li {
  width: 50%; /* 2 columns */
  margin-bottom: 4px;
  font-size: 0.9rem;
}

/* Responsive: Mobile */
@media (max-width: 600px) {
  .timeline-content ul.skills-list li {
    width: 100%; /* 1 column sa mobile */
  }
}

